/*Esercizio 1*/
.ex-1-square {
    transition: 2s;
}
.ex-1-square:hover {
    background: red;
}

/*Esercizio 2*/
.ex-2-square {
    transition: 2s;
}
.ex-2-square:active {
    width: 100%;
}

/*Esercizio 3*/
.ex-3-square {
    transition: 1s;
}
.ex-3-square:hover {
    border-radius: 50%;
}

/*Esercizio 4*/
.ex-4-square {
    transition: 2s;
}
.ex-4-square:hover {
    opacity: 0;
}

/*Esercizio 5*/
.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/*Esercizio 6*/
.ex-6-img:hover {
    filter: grayscale(1);
}

/*Esercizio 7*/
.ex-7-img:hover {
    transition: 2s;
    filter: hue-rotate(90deg) 
            blur(2px);
}

/*Esercizio 8*/
.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover {
    border-radius: 25px;
    filter: hue-rotate(90deg) 
            blur(2px);
}
/*Esercizio 9*/
.ex-9-img {
    transition: 2s;
}
.ex-9-img:hover {
    border-radius: 25px;
    transform: scale(1.6);
    filter: hue-rotate(90deg) 
            blur(2px);
}

/*Esercizio 10*/
.ex-10-icon {
    animation: rotate 0.3s linear reverse infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
}

/*Esercizio 11*/
.ex-11-icon:hover {
    animation: partialrotate 1s linear;
}
@keyframes partialrotate {
    0% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0);
    }
}

/*Esercizio 12*/
.ex-12-button .ex-12-top-white {
    animation: topwhite 2s ease-in-out infinite;
}
@keyframes topwhite {
    0% {
        left: 10%;
    }
    50% {
        left: calc(90% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-button .ex-12-bottom-white {
    animation: bottomwhite 2s ease-in-out infinite;
}
@keyframes bottomwhite {
    0% {
        right: 10%;
    }
    50% {
        right: calc(90% - 60px);
    }
    100% {
        right: 10%;
    }
}

/*Esercizio 13*/
.ex-13-button .ex-13-top-white {
    animation: topwhitecomplete 2s linear infinite;
}
@keyframes topwhitecomplete {
    0% {
        left: 10%;
        top: -20px;
    }
    25% {
        left: calc(100% - 20px);
        top: -20px;
    }
    50% {
        left: calc(100% - 20px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90%{
        left:-20px;
        top:-20px;
    }
    100% {
        left: 10%;
        top: -20px;
    }
}

.ex-13-button .ex-13-bottom-white {
    animation: bottomwhitecomplete 2s linear infinite;
}
@keyframes bottomwhitecomplete {
    0% {
        bottom: -10px;
        right: 10%;
    }
    25% {
        right: calc(100% - 40px);
        bottom: -10px;
    }
    50% {
        right: calc(100% - 40px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -20px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 10%;
    }
}
