/*Esercizio 1*/

.ex-1-square:hover {
    transition: 2s;
    background: red;
}

/*Esercizio 2*/
.ex-2-square:active {
    transition: 2s;
    width: 100%;
}

/*Esercizio 3*/
.ex-3-square:hover {
    transition: 2s;
    border-radius: 50%;
}

/*Esercizio 4*/
.ex-4-square:hover {
    transition: 2s;
    opacity: 0;
}

/*Esercizio 5*/
.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/*Esercizio 6*/
.ex-6-img:hover {
    filter: grayscale(1);
}

/*Esercizio 7*/
.ex-7-img:hover {
    transition: 2s;
    filter: hue-rotate(90deg) 
            blur(2px);
}

/*Esercizio 8*/
.ex-8-img:hover {
    transition: 2s;
    border-radius: 25px;
    filter: hue-rotate(90deg) 
            blur(2px);
}
/*Esercizio 9*/
.ex-9-img:hover {
    transition: 2s;
    border-radius: 25px;
    transform: scale(1.6);
    filter: hue-rotate(90deg) 
            blur(2px);
}

/*Esercizio 10*/
.ex-10-icon {
    animation: rotate 0.3s linear reverse infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
}

/*Esercizio 11*/
.ex-11-icon:hover {
    animation: partialrotate 1s linear;
}
@keyframes partialrotate {
    0% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0);
    }
}

/*Esercizio 12*/

/*Esercizio 13*/


